<template>
  <div class="hello">
    <ff-onboarding-widget v-if="isLoaded"> </ff-onboarding-widget>
    <h1 v-else> LOADING</h1>
  </div>
</template>

<script>
import VS2 from "vue-script2";
import axios from "axios";

export default {
  name: "HelloWorld",
  props: {},
  data() {
    return {
      isLoaded: false,
      frankieToken: "",
    };
  },
  methods: {
    // alternate if you dont want to use the VS2 library
    async addScript(src) {
      return new Promise((resolve, reject) => {
        if (!document) reject();
        const s = document.createElement("script");
        s.setAttribute("src", src);
        s.onload = () => {
          resolve();
        };
        document.body.appendChild(s);
      });
    },
  },
  async mounted() {
    // await this.addScript("https://assets.frankiefinancial.io/onboarding/v4/ff-onboarding-widget.umd.min.js");

    await VS2.load(
      "https://assets.frankiefinancial.io/onboarding/v4/ff-onboarding-widget.umd.min.js"
    );
    const frankieUrl = "https://backend.demo.frankiefinancial.io";
    const encodedCredentials = "";

    const data = await axios.post(
      `${frankieUrl}/auth/v1/machine-session`,
      {},
      {
        headers: { authorization: "machine " + encodedCredentials },
      }
    );
    const headers = data.headers;
    const ffToken = headers.token;

    const token = ffToken;

    this.frankieToken = token;

    // tslint:disable-next-line
    console.log("frankie  token: ", this.frankieToken);
    // tslint:disable-next-line

    this.isLoaded = true;
    // @ts-ignore
    this.$nextTick(() => window.frankieFinancial.initialiseOnboardingWidget({
      applicantReference: "test",
      ffToken: this.frankieToken,
      config: {
        frankieBackendUrl: frankieUrl,
        documentTypes: [
          "NATIONAL_HEALTH_ID",
          { type: "PASSPORT", acceptedCountries: "ALL" },
          "DRIVERS_LICENCE"],
        idScanVerification: false,
        checkProfile: "auto",
        maxAttemptCount: 5,
        googleAPIKey: false,
        phrases: {
          document_select: {
            title: "Custom Text Here: Choose your ID",
            hint_message: "Choose which ID you'd like to provide."
          },
        },
        requestAddress: { acceptedCountries: ["AUS", "NZL"] },
        consentText: "I agree with the terms described in the Consent section of the Company's webpage"
      }
    }
    )
    );



    // @ts-ignore
    // tslint:disable-next-line
    console.log("frankie  : ", window.frankieFinancial);
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}
</style>
